@import "../styles.scss";

main {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  background-color: $background;

  > #land {
    height: 40vh;
    width: auto;
    display: flex;
    margin-top: 10vh;
    gap: 10vw;

    > .land-cont {
      display: flex;
      flex-direction: column;
      margin: auto;

      > .land-name {
        text-transform: uppercase;
        font-size: 4.5rem;
        font-weight: 900;
        line-height: 85px;

        @media screen and (max-width: 620px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 390px) {
          font-size: 2.25rem;
        }
      }

      > h2 {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        color: $textSec;
        letter-spacing: 1px;

        @media screen and (max-width: 600px) {
          text-align: center;
          padding-left: 0px;
        }

        @media screen and (max-width: 420px) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 320px) {
          font-size: 1rem;
        }
      }

      > .land-links {
        display: flex;
        justify-content: center;
        z-index: 2;
        margin-top: 10px;

        @media screen and (max-width: 420px) {
          gap: 10px;
        }

        > a {
          transition: color 0.1s ease-in-out;
          padding: 12.5px;
          border-radius: 10px;

          &:hover {
            cursor: pointer;
            color: $accent;
          }

          > .land-email {
            background-color: #121212;
            z-index: 99;
            position: absolute;
            left: 0;
            width: fit-content;
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 20px;
            margin-top: 20px;
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  > .skills-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;
    margin-top: 10vh;

    > .skills-flex {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      gap: 2vw;
      text-align: center;

      > .skills-item {
        border-radius: 10px;
        padding: 10px 15px;

        background-color: $container;
        border: 3px solid #1f2029;

        &:hover {
          border-color: white;
        }

        transition: border-color 0.15s ease-in-out;

        @media screen and (max-width: 910px) {
          padding: 10px 10px;
          > img {
            width: 35px;
          }
        }

        @media screen and (max-width: 610px) {
          padding: 5px 10px;
          > img {
            width: 30px;
          }
        }

        @media screen and (max-width: 400px) {
          padding: 2.5px;
          > img {
            width: 25px;
          }
        }

        > p {
          font-weight: 500;
          font-size: 11px;
          letter-spacing: 0.5px;
          margin-top: 3px;

          @media screen and (max-width: 415px) {
            font-size: 8px;
          }
        }
      }

      > .material-icons {
        align-self: center;
        font-size: 25px;
      }
    }
  }

  > .projects-title {
    margin-top: 20vh;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;

    animation: fade-up 2s linear forwards; /* Name, duration, timing, fill-mode */
    animation-timeline: view(); /* Links animation to viewport scroll */
    animation-range: entry 0% cover 50%; /* Defines when animation starts and ends */
    opacity: 0;

    @media screen and (max-width: 1100px) {
      font-size: 3rem;
    }
  }

  > #projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5vw;
    row-gap: 12.5vh;

    width: auto;
    margin-top: 10vh;

    justify-content: center;
    margin-bottom: 15vh;

    @media screen and (max-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 10vh;
    }

    .github-star {
      position: absolute;
      z-index: 97;
      top: -1rem;
    }

    @keyframes fade-up {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .projects-item {
      animation: fade-up 1s linear forwards; /* Name, duration, timing, fill-mode */
      animation-timeline: view(); /* Links animation to viewport scroll */
      animation-range: entry 0% cover 50%; /* Defines when animation starts and ends */
      opacity: 0;

      position: relative;
      width: 525px;
      height: max-content;
      border-radius: 20px;

      border: 3px solid #1f2029;
      background-color: $container;
      padding: 20px;

      @media screen and (max-width: 580px) {
        width: 95vw;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;

        border: 1px solid #1f2029;

        position: relative;
        top: -3rem;

        @media screen and (max-width: 580px) {
          object-fit: cover;
        }
      }

      > .projects-body {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        padding: 7.5px;

        > .projects-title {
          display: flex;
          align-items: center;
          margin-top: -2rem;

          > h1 {
            color: $accent;
            font-weight: 800;
            font-size: 1.25rem;
          }

          @media screen and (max-width: 580px) {
            flex-direction: column;
            align-items: flex-start;
          }

          > .projects-buttons {
            display: flex;
            margin-left: auto;
            gap: 15px;

            @media screen and (max-width: 580px) {
              margin-right: auto;
              margin-left: 0;
              padding-top: 5px;
            }

            > a,
            p {
              background: transparent;
              padding: 5px 10px;
              font-size: 0.8rem;
              border-bottom: 3px solid $accent;
              font-weight: 600;
              color: rgb(226, 226, 226);

              transition: color 0.1s ease-in-out;

              &:hover {
                color: $accent;
                cursor: pointer;
              }

              @media screen and (max-width: 320px) {
                padding: 5px;
              }
            }
          }
        }

        > .projects-description {
          font-weight: 400;
          line-height: 22px;
          font-size: 0.9rem;
          color: $textSec;
          transition: color 0.15s ease-in-out;

          &:hover {
            color: white;
          }
        }

        > .projects-tech {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
          padding-bottom: 10px;

          > p {
            background-color: $accent;
            color: black;

            padding: 5px 10px;
            border-radius: 25px;
            font-weight: 700;
            font-size: 12px;
          }
        }
      }
    }
  }

  > .video-overlay {
    background-color: rgba($color: #000000, $alpha: 0.9);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 99999;

    &:hover {
      cursor: pointer;
    }

    > .project-video {
      width: 50vw;
      height: 60vh;
      z-index: 99999 !important;
    }
  }
}
