<main>
  <nav>
    <p>Work</p>

    <p>Contact</p>

    <p>Resume <span class="material-icons"> file_download </span></p>
  </nav>

  <section id="land">
    <div class="land-cont">
      <h1 class="land-name">
        Hello <br />
        I am Jason
      </h1>
      <h2>Fullstack Developer</h2>
    </div>

    <div class="land-links">
      <a
        href="https://github.com/JasonCqq"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub Profile"
      >
        <i class="fa-brands fa-github" style="font-size: 2.5rem"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/jason-huang-38813324b/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Linkedin Profile"
      >
        <i class="fa-brands fa-linkedin-in" style="font-size: 2.5rem"> </i>
      </a>
    </div>
  </section>

  <div class="skills-container">
    <h1>SKILLS</h1>

    <div class="skills-flex">
      <span class="material-icons"> arrow_back_ios_new </span>

      <div class="skills-item">
        <img
          alt="Angular"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
          width="50"
        />
        <p>Angular</p>
      </div>

      <div class="skills-item">
        <img
          alt="Typescript"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
          width="50"
        />
        <p>Typescript</p>
      </div>

      <div class="skills-item">
        <img
          alt="Javascript"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          width="50"
        />
        <p>Javascript</p>
      </div>

      <div class="skills-item">
        <img
          alt="React"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
          width="50"
        />
        <p>React</p>
      </div>

      <div class="skills-item">
        <img
          alt="HTML5"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
          width="50"
        />
        <p>HTML</p>
      </div>

      <div class="skills-item">
        <img
          alt="SASS"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg"
          width="50"
        />
        <p>SCSS</p>
      </div>

      <span class="material-icons"> arrow_forward_ios </span>
    </div>

    <div class="skills-flex">
      <span class="material-icons"> arrow_back_ios_new </span>

      <div class="skills-item">
        <img
          alt="PostgreSQL"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
          width="50"
        />
        <p>PostgreSQL</p>
      </div>

      <div class="skills-item">
        <img
          alt="Prisma ORM"
          src="https://img.icons8.com/color/48/prisma-orm.png"
          width="50"
        />
        <p>Prisma</p>
      </div>

      <div class="skills-item">
        <img
          alt="Express"
          src="https://devicon-website.vercel.app/api/express/original.svg?color=%23FFFFFF"
          width="50"
        />

        <p>Express</p>
      </div>

      <div class="skills-item">
        <img
          alt="NodeJS"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
          width="50"
        />
        <p>Node</p>
      </div>

      <div class="skills-item">
        <img
          alt="MongoDB"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg"
          width="50"
        />
        <p>Mongoose</p>
      </div>

      <div class="skills-item">
        <img
          alt="Firebase"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain-wordmark.svg"
          width="50"
        />
        <p>Firebase</p>
      </div>

      <div class="skills-item">
        <img
          alt="Git"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
          width="50"
        />
        <p>Git</p>
      </div>

      <span class="material-icons"> arrow_forward_ios </span>
    </div>
  </div>

  <section id="projects">
    <h1>WORK</h1>
    <div *ngFor="let project of projects">
      <div class="projects-item">
        <h1 class="projects-title">{{ project.title }}</h1>

        <!-- <iframe
          width="560"
          height="315"
          [src]="safeUrl(project.videoSrc)"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe> -->

        <!-- <p style="margin-top: 2vh">Built w/</p>
        <div class="projects-tech">
          <p class="projects-tech-tag" *ngFor="let tech of project.iconsHTML">
            {{ tech }}
          </p>
        </div>

        <div class="projects-description">
          <h1>App Description</h1>
          <p>{{ project.description }}</p>
        </div>

        <div class="projects-links">
          <a [href]="project.appHref" target="_blank" rel="noopener noreferrer">
            LIVE APP
          </a>
          <a
            [href]="project.githubHref"
            target="_blank"
            rel="noopener noreferrer"
          >
            GITHUB
          </a> -->
        <!-- </div> -->
      </div>
    </div>
  </section>

  <section id="contact">
    <h1>Send me a message</h1>

    <form
      action="https://formsubmit.co/jason.cq.huang@gmail.com"
      method="POST"
      class="contact-form"
    >
      <h1>CONTACT</h1>

      <input type="text" id="name" name="name" placeholder="name" required />

      <input
        type="email"
        id="email"
        name="email"
        placeholder="email"
        required
      />

      <textarea
        id="message"
        name="message"
        placeholder="message"
        required
      ></textarea>

      <button class="message-button" type="submit">Send Message</button>
    </form>
  </section>
</main>

<footer>
  <a
    href="https://github.com/JasonCqq/personal-site"
    target="_blank"
    aria-label="Site Source Code"
  >
    Code available on GitHub
    <span class="material-icons"> north_east </span>
  </a>
</footer>
