<div class="gradient"></div>
<main>
  <div class="main-left">
    <section id="landing">
      <h1 class="landing-title">Jason Huang</h1>
      <h2>Fullstack Web Developer</h2>
      <h2>San Francisco</h2>
      <div class="landing-links">
        <a
          href="https://github.com/JasonCqq"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub Profile"
        >
          <i class="fa-brands fa-github" style="font-size: 2rem"></i>
        </a>

        <a
          href="https://www.linkedin.com/in/jason-huang-38813324b/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Linkedin Profile"
        >
          <i class="fa-brands fa-linkedin-in" style="font-size: 2rem"> </i>
        </a>
      </div>
    </section>

    <!-- <nav>
      <p
        [ngClass]="tab === 'Projects' ? 'active-tab' : ''"
        (click)="switchTab('Projects')"
      >
        > Projects
      </p>

      <p
        [ngClass]="tab === 'Contact' ? 'active-tab' : ''"
        (click)="switchTab('Contact')"
      >
        > Skills & Contact
      </p>

      <p
        [ngClass]="tab === 'Resume' ? 'active-tab' : ''"
        (click)="switchTab('Resume')"
      >
        > Resume
      </p>

      <div>
        <a href="https://linkstorage.net" target="_blank">
          Check out Linkstorage.net
        </a>
      </div>
    </nav> -->
  </div>

  <!-- <section class="main-content">
    <section id="projects" *ngIf="tab === 'Projects' || showComponent">
      <div *ngFor="let project of projects">
        <div class="projects-item">
          <h1 class="projects-title">{{ project.title }}</h1>

          <iframe
            width="560"
            height="315"
            [src]="safeUrl(project.videoSrc)"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>

          <p style="margin-top: 2vh">Built w/</p>
          <div class="projects-tech">
            <p class="projects-tech-tag" *ngFor="let tech of project.iconsHTML">
              {{ tech }}
            </p>
          </div>

          <div class="projects-description">
            <h1>App Description</h1>
            <p>{{ project.description }}</p>
          </div>

          <div class="projects-links">
            <a
              [href]="safeUrl(project.appHref)"
              target="_blank"
              rel="noopener noreferrer"
            >
              LIVE APP
            </a>
            <a
              [href]="safeUrl(project.githubHref)"
              target="_blank"
              rel="noopener noreferrer"
            >
              GITHUB
            </a>
          </div>
        </div>
      </div>

      <div class="projects-nav-cont">
        <span>
          <mat-icon
            fontIcon="expand_less"
            class="projects-nav"
            (click)="previousProject()"
          ></mat-icon>
          Previous
        </span>
        <span>
          <mat-icon
            fontIcon="expand_more"
            class="projects-nav"
            (click)="nextProject()"
          ></mat-icon>
          Next Project
        </span>
      </div>
    </section>

    <section id="contact" *ngIf="tab === 'Contact' || showComponent">
      <div class="skills-container">
        <div class="skills-section">
          <h1>My skills</h1>
          <h2>Front-End</h2>

          <div class="skills-flex">
            <div class="skills-item">
              <img
                alt="Angular"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
                width="50"
              />
              <p>Angular</p>
            </div>

            <div class="skills-item">
              <img
                alt="Typescript"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
                width="50"
              />
              <p>Typescript</p>
            </div>

            <div class="skills-item">
              <img
                alt="Javascript"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                width="50"
              />
              <p>Javascript</p>
            </div>

            <div class="skills-item">
              <img
                alt="React"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
                width="50"
              />
              <p>React</p>
            </div>

            <div class="skills-item">
              <img
                alt="HTML5"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
                width="50"
              />
              <p>HTML</p>
            </div>

            <div class="skills-item">
              <img
                alt="SASS"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg"
                width="50"
              />
              <p>SCSS</p>
            </div>
          </div>
        </div>

        <div class="skills-section">
          <h2>Back-End</h2>

          <div class="skills-flex">
            <div class="skills-item">
              <img
                alt="PostgreSQL"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
                width="50"
              />
              <p>PostgreSQL</p>
            </div>

            <div class="skills-item">
              <img
                alt="Prisma ORM"
                src="https://img.icons8.com/color/48/prisma-orm.png"
                width="50"
              />
              <p>Prisma</p>
            </div>

            <div class="skills-item">
              <img
                alt="Express"
                src="https://devicon-website.vercel.app/api/express/original.svg?color=%23FFFFFF"
                width="50"
              />

              <p>Express</p>
            </div>

            <div class="skills-item">
              <img
                alt="NodeJS"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
                width="50"
              />
              <p>Node</p>
            </div>

            <div class="skills-item">
              <img
                alt="MongoDB"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg"
                width="50"
              />
              <p>Mongoose</p>
            </div>

            <div class="skills-item">
              <img
                alt="Firebase"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain-wordmark.svg"
                width="50"
              />
              <p>Firebase</p>
            </div>

            <div class="skills-item">
              <img
                alt="Git"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
                width="50"
              />
              <p>Git</p>
            </div>
          </div>
        </div>
      </div>

      <section class="contact-contain">
        <h1>Contact Me</h1>
        <form
          action="https://formsubmit.co/jason.cq.huang@gmail.com"
          method="POST"
          class="contact-form"
        >
          <div class="contact-flex">
            <div class="contact-name">
              <input type="text" id="name" name="name" required />
              <label htmlFor="name">NAME</label>
            </div>
            <div class="contact-name">
              <input type="email" id="email" name="email" required />
              <label htmlFor="email">EMAIL</label>
            </div>
          </div>

          <div>
            <input type="text" id="subject" name="subject" required />
            <label htmlFor="subject">SUBJECT</label>
          </div>

          <div style="display: flex; flex-direction: column">
            <textarea id="message" name="message" required></textarea>
            <label htmlFor="message">MESSAGE</label>
          </div>

          <button class="message-button" type="submit">Send Message</button>
        </form>
      </section>
    </section>

    <section id="resume" *ngIf="tab === 'Resume' || showComponent">
      <h1 *ngIf="showComponent">
        My Resume <span style="color: gray">(Visible above 600px)</span>
      </h1>
      <iframe
        title="Resume"
        src="https://docs.google.com/document/d/e/2PACX-1vTo0oEx09zJo9-S7obHrBx7yvxTHsBbfbWIrNBdzn_HPCbIyuyLqlSQS4GJtCoRF_PuZTOoOnYPJQu_/pub?embedded=true"
      ></iframe>

      <a
        class="resumeDownload resumeClose"
        href="https://docs.google.com/document/d/e/2PACX-1vTo0oEx09zJo9-S7obHrBx7yvxTHsBbfbWIrNBdzn_HPCbIyuyLqlSQS4GJtCoRF_PuZTOoOnYPJQu_/pub"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Resume on Google Docs"
      >
        Open on Google Docs
      </a>
    </section>
  </section> -->
</main>

<!-- <footer>
  <a
    href="https://github.com/JasonCqq/personal-site"
    target="_blank"
    aria-label="Site Source Code"
  >
    Code available on GitHub
  </a>
</footer> -->
