@import "../styles.scss";

main {
  display: flex;
  flex-direction: column;
  height: auto;

  > nav {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    gap: 4vw;
    margin-right: 5vw;
    margin-top: 25px;

    > p {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  > #land {
    height: 40vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20vh;
    margin-left: 20vw;

    > .land-cont {
      > .land-name {
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: 2px;
      }

      > h2 {
        text-align: end;
        letter-spacing: 1px;
        padding-left: 25px;
      }
    }

    > .land-links {
      display: flex;
      gap: 1vw;
      margin-left: auto;
    }
  }

  > .skills-container {
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;

    > h1 {
      letter-spacing: 2px;
    }

    > .skills-flex {
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 1.25vw;
      text-align: center;

      > .skills-item {
        opacity: 0.7;

        > p {
          color: $textSec;
          font-weight: 600;
          font-size: 0.7rem;
        }
      }

      > .material-icons {
        align-self: center;
        font-size: 25px;
      }
    }
  }

  > #projects {
    > iframe {
      background-color: white;
    }
  }

  > #contact {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    > .contact-form {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 5vh;

      > input {
        background-color: transparent;
        border: none;
        border-bottom: 3px solid $text;
        width: 25vw;
        font-size: 1.5rem;

        &:focus {
          outline: none;
        }
      }

      > textarea {
        resize: none;
        background-color: transparent;
        border: none;
        border: 3px solid $text;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.5rem;
        color: $text;
        height: 100px;

        &:focus {
          outline: none;
        }
      }

      > .message-button {
        border: none;
        background: transparent;
        border: 3px solid $text;
        color: $text;
        padding: 15px 25px;
        border-radius: 5px;
        font-size: 1.25rem;
      }
    }
  }
}

footer {
  position: relative;
  bottom: 0;
  height: 10vh;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: $textSec;
}
