@import "../styles.scss";

main {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  > nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;

    @media screen and (max-width: 535px) {
      justify-content: center;
      padding-left: 10px;
    }

    > a {
      font-size: 1.6rem;
      font-weight: 600;
      margin-right: 3vw;
      padding: 20px 10px;
      letter-spacing: 2px;

      transition: color 0.1s ease-in-out;
      &:hover {
        cursor: pointer;
        color: $accent;
      }

      display: flex;
      align-items: center;

      > .material-icons {
        font-size: 1.6rem;
      }

      @media screen and (max-width: 535px) {
        margin-right: 0;
        font-size: 1.4rem;
      }

      @media screen and (max-width: 405px) {
        margin-right: 0;
        font-size: 1.15rem;
        padding: 20px 5px;

        > .material-icons {
          font-size: 1rem;
        }
      }

      @media screen and (max-width: 300px) {
        margin-right: 5px;
        font-size: 1rem;
        padding: 20px 2px;

        > .material-icons {
          font-size: 1rem;
          margin-right: 20px;
        }
      }
    }
  }

  > #land {
    height: 40vh;
    width: fit-content;
    display: flex;
    margin-top: 20vh;
    gap: 10vw;

    > .land-cont {
      display: flex;
      flex-direction: column;
      margin-left: 20vw;

      @media screen and (max-width: 700px) {
        margin-left: 10vw;
      }

      > .land-name {
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: 2px;

        @media screen and (max-width: 520px) {
          font-size: 4rem;
        }

        @media screen and (max-width: 420px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 320px) {
          font-size: 2.5rem;
        }
      }

      > h2 {
        text-align: end;
        letter-spacing: 1px;
        padding-left: 25px;

        @media screen and (max-width: 420px) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 320px) {
          font-size: 1rem;
        }
      }

      > .land-links {
        display: flex;
        gap: 30px;
        margin-left: auto;
        margin-top: 20px;

        @media screen and (max-width: 420px) {
          gap: 20px;
        }

        > a {
          transition: color 0.1s ease-in-out;
          &:hover {
            cursor: pointer;
            color: $accent;
          }
        }
      }
    }

    > .land-about {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;

      > section {
        border: 1px solid gray;
        border-radius: 250%;
        padding: 15px;
        font-weight: 600;
        font-size: 2.5rem;
      }
    }
  }

  > .skills-container {
    height: 40vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;

    > h1 {
      letter-spacing: 2px;

      @media screen and (max-width: 520px) {
        font-size: 1.5rem;
      }
    }

    > .skills-flex {
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 2vw;
      text-align: center;

      > .skills-item {
        opacity: 0.6;

        @media screen and (max-width: 510px) {
          > img {
            width: 35px;
          }
        }

        @media screen and (max-width: 415px) {
          > img {
            width: 25px;
          }
        }

        &:hover {
          opacity: 1;
        }

        > p {
          color: $textSec;
          font-weight: 600;
          font-size: 0.7rem;

          @media screen and (max-width: 415px) {
            font-size: 8px;
          }
        }
      }

      > .material-icons {
        align-self: center;
        font-size: 25px;
      }
    }
  }

  > #projects {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vh;

    > h1 {
      font-size: 4rem;
      align-self: flex-start;
      margin-left: 15vw;
      z-index: 3;
      color: $accent;
      letter-spacing: 5px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 1545px) {
        margin-left: 5vw;
      }

      @media screen and (max-width: 1100px) {
        font-size: 3rem;
      }

      > .material-icons {
        font-size: 4rem;
      }
    }

    > .projects-item {
      display: flex;
      flex-direction: column;
      gap: 4vh;

      > h1 {
        font-size: 2rem;
        letter-spacing: 1.5px;
      }

      > .projects-body {
        display: flex;

        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 5vh;
        }

        > .projects-image {
          position: relative;
          > img,
          iframe {
            width: 900px;
            height: 500px;
            border-radius: 5px;
            object-fit: cover;

            @media screen and (max-width: 1100px) {
              width: 600px;
              height: 400px;
            }

            @media screen and (max-width: 800px) {
              height: 300px;
              width: 400px;
            }

            @media screen and (max-width: 430px) {
              height: 300px;
              width: 100vw;
            }
          }

          > .projects-description {
            background: rgba($color: #000000, $alpha: 1);
            padding: 5px;
            border-radius: 5px;
            font-weight: 600;
            line-height: 30px;
            position: absolute;
            bottom: 35px;
            left: 0;

            animation: 0.1s fadeIn;
          }

          @keyframes fadeIn {
            0% {
              transform: translateY(50px);
            }

            100% {
              transform: translateY(0px);
            }
          }

          > .projects-tech {
            display: flex;
            gap: 15px;
            margin-top: 10px;

            @media screen and (max-width: 800px) {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-template-rows: repeat(2, 1fr);
              text-align: center;
            }

            > p {
              font-size: 0.9rem;
              font-weight: bold;
              padding-bottom: 3px;
              border-bottom: 2px solid $accent;

              @media screen and (max-width: 430px) {
                font-size: 13px;
                font-weight: 500;
              }
            }
          }
        }

        > .projects-buttons {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-right: 15px;

          @media screen and (max-width: 600px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 10px;
          }

          > * {
            border: none;
            background-color: transparent;
            color: $accent;
            border: 2px solid $accent;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: bold;
            padding: 10px 25px;
            text-align: center;
            margin-left: 25px;

            transition: color 0.15s ease-in-out,
              background-color 0.15s ease-in-out;
            &:hover {
              color: black;
              cursor: pointer;
              background-color: $accent;
            }

            @media screen and (max-width: 600px) {
              font-size: 0.8rem;
              margin-left: 2px;
            }
          }
        }
      }
    }

    > a {
      font-size: 2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 5px;
      border-bottom: 3px solid $accent;

      transition: color 0.1 ease-in-out;
      &:hover {
        color: $accent;
      }

      > .material-icons {
        font-size: 2rem;
      }
    }
  }

  > #contact {
    margin-top: 15vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;

    @media screen and (max-width: 870px) {
      gap: 10vh;
      display: flex;
      flex-direction: column;
      margin-top: 25vh;
    }

    > .contact-form {
      display: flex;
      flex-direction: column;
      gap: 5vh;

      > input {
        background-color: transparent;
        border: none;
        border-bottom: 3px solid $text;
        width: 350px;
        font-size: 1.5rem;

        @media screen and (max-width: 400px) {
          width: 260px;
        }

        &:focus {
          outline: none;
        }
      }

      > textarea {
        width: 330px;
        resize: none;
        background-color: transparent;
        border: none;
        border: 3px solid $text;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.5rem;
        color: $text;
        height: 150px;

        &:focus {
          outline: none;
        }

        @media screen and (max-width: 400px) {
          width: 240px;
        }
      }

      > .message-button {
        border: none;
        background: transparent;
        border: 3px solid $text;
        color: $text;
        padding: 15px 25px;
        border-radius: 5px;
        font-size: 1.25rem;
        font-weight: 600;

        transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
        &:hover {
          color: $accent;
          cursor: pointer;
          border-color: $accent;
        }
      }
    }

    > h1 {
      line-height: 50px;
      letter-spacing: 2px;

      @media screen and (max-width: 870px) {
        font-size: 1.25rem;
        line-height: 35px;
      }

      @media screen and (max-width: 400px) {
        font-size: 1rem;
        letter-spacing: 1px;
      }
    }
  }
}

footer {
  position: relative;
  bottom: 0;
  height: 15vh;
  text-align: center;
  font-size: 2.75rem;
  font-weight: 500;
  color: $textSec;
  letter-spacing: 1px;
  margin-top: 20vh;

  > a {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 0.1s ease-in-out;
    &:hover {
      color: $accent;
    }
  }

  @media screen and (max-width: 660px) {
    font-size: 2rem;
    height: 10vh;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 320px) {
    font-size: 0.9rem;
  }
}
