<main>
  <nav>
    <a href="#projects">Work</a>

    <a href="#contact">Contact</a>

    <a
      href="https://docs.google.com/document/d/e/2PACX-1vTo0oEx09zJo9-S7obHrBx7yvxTHsBbfbWIrNBdzn_HPCbIyuyLqlSQS4GJtCoRF_PuZTOoOnYPJQu_/pub"
      target="_blank"
      >Resume <span class="material-icons"> north_east </span></a
    >
  </nav>

  <section id="land">
    <div class="land-cont">
      <h1 class="land-name">
        <span style="color: #f5cb5c">Hello</span> <br />
        I am Jason
      </h1>
      <h2>Fullstack Developer</h2>
      <div class="land-links">
        <a
          href="https://github.com/JasonCqq"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub Profile"
        >
          <i class="fa-brands fa-github" style="font-size: 2rem"></i>
        </a>

        <a
          href="https://www.linkedin.com/in/jason-huang-38813324b/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Linkedin Profile"
        >
          <i class="fa-brands fa-linkedin-in" style="font-size: 2rem"> </i>
        </a>
      </div>
    </div>
  </section>

  <div class="skills-container">
    <h1>SKILLS</h1>

    <div class="skills-flex">
      <div class="skills-item">
        <img
          alt="Angular"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
          width="50"
        />
        <p>Angular</p>
      </div>

      <div class="skills-item">
        <img
          alt="Typescript"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
          width="50"
        />
        <p>Typescript</p>
      </div>

      <div class="skills-item">
        <img
          alt="Javascript"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          width="50"
        />
        <p>Javascript</p>
      </div>

      <div class="skills-item">
        <img
          alt="React"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
          width="50"
        />
        <p>React</p>
      </div>

      <div class="skills-item">
        <img
          alt="HTML5"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
          width="50"
        />
        <p>HTML</p>
      </div>

      <div class="skills-item">
        <img
          alt="SASS"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg"
          width="50"
        />
        <p>SCSS</p>
      </div>
    </div>

    <div class="skills-flex">
      <div class="skills-item">
        <img
          alt="PostgreSQL"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
          width="50"
        />
        <p>PostgreSQL</p>
      </div>

      <div class="skills-item">
        <img
          alt="Prisma ORM"
          src="https://img.icons8.com/color/48/prisma-orm.png"
          width="50"
        />
        <p>Prisma</p>
      </div>

      <div class="skills-item">
        <img
          alt="Express"
          src="https://devicon-website.vercel.app/api/express/original.svg?color=%23FFFFFF"
          width="50"
        />

        <p>Express</p>
      </div>

      <div class="skills-item">
        <img
          alt="NodeJS"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
          width="50"
        />
        <p>Node</p>
      </div>

      <div class="skills-item">
        <img
          alt="MongoDB"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg"
          width="50"
        />
        <p>MongoDB</p>
      </div>

      <div class="skills-item">
        <img
          alt="Firebase"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain-wordmark.svg"
          width="50"
        />
        <p>Firebase</p>
      </div>

      <div class="skills-item">
        <img
          alt="Git"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
          width="50"
        />
        <p>Git</p>
      </div>
    </div>
  </div>

  <section id="projects">
    <!-- Images created from https://shots.so/-->
    <h1>WORK <span class="material-icons"> south_east </span></h1>

    <div class="projects-item" *ngFor="let project of projects">
      <h1 class="projects-title">{{ project.title }}</h1>

      <div class="projects-body">
        <div class="projects-image">
          <img [src]="project.image" *ngIf="!project.showVid" />

          <iframe
            *ngIf="project.showVid"
            [src]="safeUrl(project.videoSrc)"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>

          <div class="projects-description" *ngIf="project.showDesc">
            <h1>Description</h1>
            <p>{{ project.description }}</p>
          </div>

          <div class="projects-tech">
            <p *ngFor="let tech of project.iconsHTML">
              {{ tech }}
            </p>
          </div>
        </div>

        <div class="projects-buttons">
          <a href="{{ project.appHref }}" target="_blank">Live App</a>
          <a href="{{ project.githubHref }}" target="_blank">Github</a>
          <p (click)="toggleVideo(project.id)">Show Demo</p>
          <p (click)="toggleDescription(project.id)">Description</p>
        </div>
      </div>
    </div>

    <a href="https://github.com/JasonCqq?tab=repositories" target="_blank"
      >View more <span class="material-icons"> arrow_forward </span></a
    >
  </section>

  <section id="contact">
    <h1>
      Have a question? <br />
      Interested in working with me? <br />
      Send me a message

      <br />
      or Email me directly: <br />
      <span style="color: #f5cb5c">jasonh21715&#64;gmail.com</span>
    </h1>

    <form
      action="https://formsubmit.co/jason.cq.huang@gmail.com"
      method="POST"
      class="contact-form"
    >
      <h1>CONTACT</h1>

      <input type="text" id="name" name="name" placeholder="name" required />

      <input
        type="email"
        id="email"
        name="email"
        placeholder="email"
        required
      />

      <textarea
        id="message"
        name="message"
        placeholder="message"
        required
      ></textarea>

      <button class="message-button" type="submit">Send Message</button>
    </form>
  </section>
</main>

<footer>
  <a
    href="https://github.com/JasonCqq/personal-site"
    target="_blank"
    aria-label="Site Source Code"
  >
    Code available on GitHub
    <span class="material-icons"> north_east </span>
  </a>
</footer>
