@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

.App {
  position: absolute;
  font-family: "Inter", sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  padding-top: 8vh;
  z-index: 3;

  #landing {
    display: flex;
    justify-content: center;
    gap: 10vw;
    height: 85vh;
    margin-top: 15vh;
    .landing-left {
      .landing-title {
        font-size: 4rem;
        font-weight: bold;
        color: #6d31e8;
        margin: 0;
        padding-bottom: 5vh;
      }
      .landing-links {
        display: flex;
        gap: 1vw;
        padding-bottom: 10vh;
      }

      .landing-button {
        border: 3px solid #6d31e8;
        padding: 10px 35px;
        font-weight: bold;
        color: #ffffff;
        border-radius: 10px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, #6d31e8 50%)
          right;
        background-size: 200% 100%;
        transition: background-position 0.5s;
        &:hover {
          cursor: pointer;
          background-position: 0 -100%;
        }
      }
    }

    .landing-right {
      display: flex;
      flex-direction: column;
      align-items: center;

      .skills-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1.25vw;
        row-gap: 3vh;

        .skills-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: bold;
          font-size: 0.75rem;
          height: 70px;
          width: 70px;
        }

        img {
          padding: 1vw;
          max-width: 50px;
          max-height: 50px;
          border: 3px solid #6d31e8;
          border-radius: 10px;
          box-shadow: 1px 1px 5px #6d31e8;
          transition: border-color 0.1s ease;

          &:hover {
            border-color: white;
          }
        }
      }
    }

    .landing-left,
    .landing-right {
      margin-top: 10vh;
    }
  }

  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;

    h1 {
      color: #6d31e8;
      font-size: 3rem;
      padding-bottom: 25px;
    }

    .projects-heading {
      color: white;
      border-bottom: 12px solid #6d31e8;
      line-height: 0px;
    }

    .projects-grid {
      display: flex;
      flex-direction: column;
      gap: 10vh;
      margin-top: 10vh;

      .projects-item {
        display: flex;
        gap: 5vw;

        img {
          max-width: 650px;
          max-height: 400px;
        }

        .projects-title {
          margin: 0px;
        }

        .projects-description {
          font-size: 1.2rem;
          width: 25vw;
          line-height: 3vh;
        }

        .projects-tech {
          display: flex;
          gap: 20px;
          i {
            font-size: 40px;
          }
        }

        .projects-links {
          display: flex;
          flex-direction: column;
          gap: 25px;
          font-size: 1.5rem;
          letter-spacing: 1px;
          text-align: center;

          a {
            width: 8vw;
            border-bottom: 3px solid #6d31e8;
            padding: 10px 0px;
            background: linear-gradient(
                to left,
                rgba(0, 0, 0, 0) 50%,
                #6d31e8 51%
              )
              right;
            background-size: 200% 100%;
            transition: background-position 0.3s;
            &:hover {
              cursor: pointer;
              background-position: 0 -100%;
            }
          }
        }
      }
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17vh;

    h1 {
      color: white;
      padding-bottom: 25px;
      font-size: 3rem;
      border-bottom: 10px solid #6d31e8;
      line-height: 0px;
    }

    .contact-form {
      height: 60vh;
      display: flex;
      flex-direction: column;
      gap: 2vh;

      .contact-flex {
        display: flex;
        gap: 5vw;

        .contact-name {
          display: flex;
          flex-direction: column;
        }
      }

      #subject {
        padding-top: 0px;
        width: 80%;
      }

      label {
        font-weight: bold;
        font-size: 0.75rem;
      }

      input {
        background: none;
        border: none;
        width: 25%;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 3px solid #6d31e8;
        background-color: #121212;

        &:focus {
          outline: none;
          border-bottom: 5px solid #6d31e8;
        }
      }

      textarea {
        font-family: inherit;
        resize: none;
        color: white;
        height: 20vh;
        background-color: #121212;
        border: 3px solid #6d31e8;
        font-weight: bold;
        font-size: 1.1rem;

        &:focus {
          outline: none;
          border: 5px solid #6d31e8;
        }
      }

      button {
        width: 100%;
        border: none;
        background: none;
        color: white;
        border: 3px solid #6d31e8;
        font-weight: bold;
        font-size: 1.15rem;
        padding: 10px 15px;
        margin-top: 2vh;

        background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, #6d31e8 50%)
          right;
        background-size: 200% 100%;
        transition: background-position 0.5s;
        &:hover {
          cursor: pointer;
          background-position: 0 -100%;
        }
      }
    }
  }
}
