#navbar {
  height: 10vh;
  .nav-flex {
    height: 10vh;
    width: 99.9vw;
    background-color: #111827;
    border-bottom: 1px solid #282828;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 4;

    .nav-right {
      display: flex;
      margin-left: auto;
      gap: 4vw;
      align-items: center;

      .nav-link {
        transition: color 0.2s ease;
        &:hover {
          color: #504eeb;
          cursor: var(--cursorPointer);
        }
      }

      #resume {
        margin-right: 5vw;
        border: 4px solid #504eeb;
        border-radius: 5px;
        padding: 10px 20px;
        transition: background-color 0.2s ease-in-out;
        color: white;
        background-color: #111827;
        font-family: "REM", sans-serif;

        &:hover {
          color: white;
          background-color: #504eeb;
          cursor: var(--cursorPointer);
        }
      }
    }
  }
}

#resumePop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  font-size: 4rem;
  top: 0;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;

  .resumeWindow {
    position: fixed;
    background-color: #111827;
    border: 3px solid #504eeb;
    height: 85vh;
    width: 85vw;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .resumeFunctions {
      display: flex;
      flex-direction: column;
      gap: 3vh;

      .resumeClose {
        border: none;
        background-color: #111827;
        border: 2px solid #504eeb;
        border-radius: 5px;
        font-size: 1.25rem;
        padding: 10px 25px;
        height: 5vh;
        margin-left: 2vw;
        color: white;
        font-weight: bold;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: #504eeb;
          cursor: var(--cursorPointer);
        }
      }

      .resumeDownload {
        font-size: 1rem;
        padding: 5px 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    #resumeEmbed {
      border: none;
      margin-top: 2vh;
      margin-left: 3vw;
    }
  }
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5vh;
  background: #504eeb;
  z-index: 4;
  transform-origin: 0%;
  margin-top: 10vh;
  max-width: 100vw;
}
