@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.App {
  font-family: "Inter", sans-serif;
  color: white;

  #cursor {
    position: fixed;
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 15px white;
    background-color: white;
  }

  #navbar {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: #0a0a0b;
    border-top: 2px solid #4f3dff;
    .nav-flex {
      height: 8vh;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 700;

      .nav-right {
        display: flex;
        margin-left: auto;
        gap: 4vw;

        .nav-link {
          transition: color 0.2s ease;
          padding-bottom: 5px;
          border-bottom: 3px solid transparent;
          &:hover {
            color: #4f3dff;
            border-bottom-color: #4f3dff;
          }
        }

        #resume {
          margin-right: 5vw;
        }
      }
    }
  }

  #landing {
    padding-top: 20vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    gap: 10vw;
    .landing-left {
      .landing-title {
        font-size: 4rem;
        font-weight: 500;
        color: #4f3dff;
        margin: 0;
      }
      .landing-links {
        display: flex;
        gap: 1vw;
        padding-bottom: 8vh;
      }

      .landing-button {
        border: 3px solid #4f3dff;
        padding: 10px 25px;
        font-weight: bold;
        color: #4f3dff;
        transition: background-color 0.2s ease, color 0.2s ease;

        &:hover {
          background-color: #4f3dff;
          color: white;
        }
      }
    }

    .landing-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      .skills-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1.25vw;
        row-gap: 3vh;
        img,
        .skills-express {
          padding: 1vw;
          max-width: 50px;
          max-height: 50px;
          border: 2px solid #4f3dff;
          border-radius: 10px;
          box-shadow: 1px 1px 5px #4f3dff;
          transition: border-color 0.2s ease;

          &:hover {
            border-color: white;
          }
        }
      }
    }

    .landing-left,
    .landing-right {
      margin-top: 10vh;
    }
  }

  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: #4f3dff;
      font-size: 3rem;
      padding-bottom: 25px;
    }

    .projects-grid {
      display: flex;
      flex-direction: column;
      gap: 10vh;

      .projects-item {
        display: flex;

        .projects-links {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;

    h1 {
      color: #4f3dff;
      padding-bottom: 25px;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 2vh;

      .contact-flex {
        display: flex;
        gap: 5vw;

        .contact-name {
          display: flex;
          flex-direction: column;
        }
      }

      #subject {
        padding-top: 0px;
        width: 55vw;
      }

      label {
        font-weight: bold;
        font-size: 0.75rem;
      }

      input {
        background: none;
        border: none;
        border-bottom: 2px solid #4f3dff;
        width: 25vw;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #4f3dff;

        &:focus {
          outline: none;
        }
      }

      textarea {
        font-family: inherit;
        resize: none;
        color: white;
        height: 20vh;
        background: none;
        border: 2px solid #4f3dff;
        font-weight: bold;
        font-size: 1.1rem;
        &:focus {
          outline: none;
        }
      }

      button {
        border: none;
        background: none;
        color: #4f3dff;
        border: 2px solid #4f3dff;
        font-weight: bold;
        font-size: 1.15rem;
        padding: 5px 15px;
        margin-top: 2vh;
        transition: background-color 0.1s ease, color 0.1s ease;
        &:hover {
          background-color: #4f3dff;
          color: white;
        }
      }
    }
  }

  footer {
    margin-top: 10vh;
    height: 5vh;
    background-color: #4f3dff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}
