@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

#navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #1a1a1a;
  border-bottom: 3px solid #2a2a2a;
  z-index: 2;
  .nav-flex {
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;

    .nav-right {
      display: flex;
      margin-left: auto;
      gap: 4vw;
      align-items: center;

      .nav-link {
        transition: color 0.2s ease;
        border-bottom: 4px solid transparent;
        &:hover {
          color: #4f3dff;
          border-bottom-color: #4f3dff;
        }
      }

      #resume {
        margin-right: 5vw;
        border: 4px solid #4f3dff;
        border-radius: 10px;
        padding: 10px 20px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          color: white;
          background-color: #4f3dff;
        }
      }
    }
  }
}

.App {
  font-family: "Inter", sans-serif;
  color: white;
  height: auto;
  width: 100%;
  padding-top: 8vh;

  #landing {
    display: flex;
    justify-content: center;
    gap: 10vw;
    height: 85vh;
    margin-top: 15vh;
    .landing-left {
      .landing-title {
        font-size: 4rem;
        font-weight: bold;
        color: #4f3dff;
        margin: 0;
        padding-bottom: 5vh;
      }
      .landing-links {
        display: flex;
        gap: 1vw;
        padding-bottom: 10vh;
      }

      .landing-button {
        border: 3px solid #4f3dff;
        padding: 10px 25px;
        font-weight: bold;
        color: #ffffff;
        border-radius: 10px;
        transition: background-color 0.2s ease, color 0.2s ease;
        margin-top: auto;

        &:hover {
          background-color: #4f3dff;
          color: white;
        }
      }
    }

    .landing-right {
      display: flex;
      flex-direction: column;
      align-items: center;

      .skills-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1.25vw;
        row-gap: 3vh;

        .skills-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: bold;
          font-size: 0.75rem;
          height: 70px;
          width: 70px;
        }

        img {
          padding: 1vw;
          max-width: 50px;
          max-height: 50px;
          border: 3px solid #4f3dff;
          border-radius: 10px;
          box-shadow: 1px 1px 5px #4f3dff;
          transition: border-color 0.2s ease;

          &:hover {
            border-color: white;
          }
        }
      }
    }

    .landing-left,
    .landing-right {
      margin-top: 10vh;
    }
  }

  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;

    h1 {
      color: #4f3dff;
      font-size: 3rem;
      padding-bottom: 25px;
    }

    .projects-heading {
      color: white;
      border-bottom: 12px solid #4f3dff;
      line-height: 0px;
    }

    .projects-grid {
      display: flex;
      flex-direction: column;
      gap: 10vh;
      margin-top: 10vh;

      .projects-item {
        display: flex;
        gap: 5vw;

        img {
          max-width: 650px;
          max-height: 400px;
        }

        .projects-title {
          margin: 0px;
        }

        .projects-description {
          font-size: 1.2rem;
          width: 25vw;
          line-height: 3vh;
        }

        .projects-tech {
          font-weight: bold;
          font-size: 1rem;
        }

        .projects-links {
          display: flex;
          flex-direction: column;
          gap: 25px;
          font-size: 1.5rem;
          letter-spacing: 1px;

          a {
            width: 15vw;
            border-bottom: 4px solid #4f3dff;
            padding-bottom: 5px;
            transition: color 0.1s ease;

            &:hover {
              color: #4f3dff;
            }
          }
        }
      }
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17vh;

    h1 {
      color: white;
      padding-bottom: 25px;
      font-size: 3rem;
      border-bottom: 10px solid #4f3dff;
      line-height: 0px;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 2vh;

      .contact-flex {
        display: flex;
        gap: 5vw;

        .contact-name {
          display: flex;
          flex-direction: column;
        }
      }

      #subject {
        padding-top: 0px;
        width: 55vw;
      }

      label {
        font-weight: bold;
        font-size: 0.75rem;
      }

      input {
        background: none;
        border: none;
        width: 25vw;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 3px solid #4f3dff;

        &:focus {
          outline: none;
          border-bottom: 5px solid #4f3dff;
        }
      }

      textarea {
        font-family: inherit;
        resize: none;
        color: white;
        height: 20vh;
        background: none;
        border: 3px solid #4f3dff;
        font-weight: bold;
        font-size: 1.1rem;
        &:focus {
          outline: none;
          border: 5px solid #4f3dff;
        }
      }

      button {
        border: none;
        background: none;
        color: white;
        border: 3px solid #4f3dff;
        font-weight: bold;
        font-size: 1.15rem;
        padding: 10px 15px;
        margin-top: 2vh;
        transition: background-color 0.1s ease;
        &:hover {
          background-color: #4f3dff;
          cursor: pointer;
        }
      }
    }
  }
}
