#navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #0a0a0b;
  border-top: 2px solid #4f3dff;
  z-index: 2;
  .nav-flex {
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;

    .nav-right {
      display: flex;
      margin-left: auto;
      gap: 4vw;

      .nav-link {
        transition: color 0.2s ease;
        padding-bottom: 5px;
        border-bottom: 3px solid transparent;
        &:hover {
          color: #4f3dff;
          border-bottom-color: #4f3dff;
        }
      }

      #resume {
        margin-right: 5vw;
      }
    }
  }
}
