@font-face {
  font-family: "Mona Sans";
  src: url("./assets/Mona-Sans.woff2");
}

$background: #070707;
$text: #e6e8e3;
$textSec: #c1c9df;
$accent: #237bff;

html {
  scroll-behavior: smooth;
  background-color: $background;
  font-family: "Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: $text;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
  background-color: $background;
}

code {
  font-family: "Mona Sans", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

// Custom Text Highlight Color
::selection {
  background: $accent;
}
::-moz-selection {
  background: $accent;
}

// Custom Scrollbar
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: $background;
}
::-webkit-scrollbar-thumb {
  background: $text;
}

// CSS Reset
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: $text;
}
input,
textarea {
  color: $text;
  font-family: "Mona Sans";
}
button {
  font-family: "Mona Sans";
}

html,
body {
  width: 100% !important;
  height: auto !important;
}
